:root {
  /**
  * color
  */

  /**
  * primary color
  */
  --very-dark-blue-main-BG: hsl(233, 47%, 7%);
  --very-dark-blue-card-BG: hsl(244, 38%, 16%);
  --soft-violet-accent: #aa5cdb;

  /**
  * neutral color
  */
  --white-main-heading: hsl(0, 0%, 100%);
  --slightly-white-main-p: hsla(0, 0%, 100%, 0.75);
  --slightly-white-stat-heading: hsla(0, 0%, 100%, 0.6);
}

/*--------------------------------*\
  #RESET
\*--------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

html {
  font-family: "Inter", sans-serif;
  font-family: "Lexend Deca", sans-serif;
  font-size: 16px;
  color: white;
}

/*--------------------------------*\
  #CONTAINER
\*--------------------------------*/

.container {
  background-color: var(--very-dark-blue-main-BG);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*--------------------------------*\
  #CARD
\*--------------------------------*/

.card {
  background-color: var(--very-dark-blue-card-BG);
  border-radius: 8px;
  margin: 2rem;
  max-width: 1300px;
  max-height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
}

.card-stats {
  padding: 5.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card-img {
  width: 100%;
  height: 100%;
  background-color: var(--soft-violet-accent);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 75%;
  mix-blend-mode: multiply;
}

.headline {
  grid-column: span 3;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 2.75rem;
  color: var(--white-main-heading);
  align-self: start;
}

.details {
  grid-column: span 3;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  line-height: 1.7;
  color: var(--slightly-white-main-p);
  font-size: 1rem;
  align-self: center;
}

.accent {
  color: var(--soft-violet-accent);
}

.stats {
  font-family: "Lexend Deca", sans-serif;
  color: var(--slightly-white-stat-heading);
  font-weight: 400;
  align-self: end;
  letter-spacing: 1px;
}

.num {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: var(--white-main-heading);
  margin-bottom: 5px;
}

/*--------------------------------*\
  #HELPER CLASS
\*--------------------------------*/

.attribution {
  position: absolute;
  bottom: 1%;
  font-size: 11px;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*--------------------------------*\
  #MOBILE
\*--------------------------------*/

/* @media only screen and (min-device-width: 800px) and (max-device-width: 1100px) {


} */

@media only screen and (min-device-width: 630px) and (max-device-width: 1100px) {
  .card {
    max-width: 800px;
    grid-template-rows: 350px 1fr;
    grid-template-columns: 1fr;
  }

  .card-stats {
    gap: 15px;
    padding: 3rem;
    text-align: center;
  }

  .card-img {
    grid-row: 1;
  }

  .stats {
    font-size: 0.5rem;
    align-self: center;
  }
}

@media only screen and (min-device-width: 400px) and (max-device-width: 630px) {
  .card {
    max-width: 600px;
    max-height: 100%;
    grid-template-rows: 31% 1fr;
    grid-template-columns: 1fr;
    margin: 1.5rem;
  }

  .card-stats {
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 1.25fr repeat(3, 1fr);
    text-align: center;
    padding: 2.7rem 2rem 1.7rem 1.7rem;
  }

  .card-img {
    grid-row: 1;
  }

  .headline {
    font-size: 2.2rem;
  }

  .details {
    font-size: 1rem;
    letter-spacing: 1.3px;
    line-height: 1.7;
    color: var(--slightly-white-main-p);
    align-self: center;
  }

  .stats {
    align-self: center;
    font-size: 1rem;
  }

  .num {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.7;
  }

  .a {
    grid-row: 3;
  }

  .b {
    grid-row: 4;
  }

  .c {
    grid-row: 5;
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 400px) {
  .card {
    max-width: 600px;
    max-height: 100%;
    grid-template-rows: 31% 1fr;
    grid-template-columns: 1fr;
    margin: 1.5rem;
  }

  .card-stats {
    grid-template-columns: 1fr;
    grid-template-rows: 1.25fr 1.25fr repeat(3, 1fr);
    text-align: center;
    padding: 2.5rem 2rem 1.5rem 1.5rem;
  }

  .card-img {
    grid-row: 1;
  }

  .headline {
    font-size: 1.8rem;
  }

  .details {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    line-height: 1.7;
    color: var(--slightly-white-main-p);
    align-self: center;
  }

  .stats {
    align-self: center;
    font-size: 0.8rem;
  }

  .num {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.7;
  }

  .a {
    grid-row: 3;
  }

  .b {
    grid-row: 4;
  }

  .c {
    grid-row: 5;
  }
}
